@model Cart

    <div class="">
        @if (Model.Lines.Count() > 0)
        {
            <small class="navbar-text">
                <a>
                    <strong>
                        @Model.Lines.Sum(x => x.Quantity) наименование (я / ий)
                        <br />
                        на сумму:
                        @Model.ComputeTotalValue().ToString("c")
                    </strong>
                </a>
            </small>
        }
        <a class="btn btn-sm btn-info navbar-btn"
           asp-controller="Cart" asp-action="Index"
           asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
            <img src="~/lib/img/shopping_cart.png">
        </a>
    </div>