<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="~/lib/fontawesome/css/*.css" />

</head>

<body>
    <header>
        <div class="container">
            <div class="navbar bg-primary navbar-dark" role="navigation">
                .<div class="tytleText">
                    <a class="col-8 navbar-brand font-weight-bolder" href="#"><h1>Магазин спортивных товаров</h1></a>
                </div>
                 <div class="col-2 navbar-nav navbar-text text-center">
                     <a><strong>Ваша корзина:</strong></a>
                     @await Component.InvokeAsync("CartSummary")
                 </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container p-0">
            <div class="row m-1 p-1">
                <div id="category" class="col-lg-3">
                    @await Component.InvokeAsync("NavigationMenu")
                </div>
                <div class="col-lg-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
</body>
</html>
